<h1>This Is Game Page</h1>
<p>Choose Your Option</p>

<p><%= @computer_answer %></p>
<p><%= @result %></p>

<a href="/game/throw/rock">
<button type="button" name="button">rock</button>
</a>
<a href="/game/throw/paper">
<button type="button" name="button">paper</button>
</a>
<a href="/game/throw/scisor">
<button type="button" name="button">scisor</button>
</a>
