<h1>Welcome To Rock Paper Scisor Game</h1>
<title>Welcome Player</title>

<form action="/" method="post">
  <p>Insert Your Name</p>
  <input type="text" name="player_name">
  <input type="submit" value="submit">
</form>
